<div class="campaings">
  <div class="container">
    <div class="campaing-div">
      <div class="left-side">
        <h3 class="left-side-title">Getir'i indir!</h3>
        <span class="left-side-desc"
          >İstediğiniz ürünleri dakikalar içinde kapınıza <br />
          getirelim.</span
        >
        <div class="icons">
          <a href="#">
            <img
              src="https://getir.com/_next/static/images/appstore-tr-141ed939fceebdcee96af608fa293b31.svg"
              class="icon"
            />
          </a>
          <a href="#">
            <img
              src="https://getir.com/_next/static/images/googleplay-tr-6b0c941b7d1a65d781fb4b644498be75.svg"
              class="icon"
            />
          </a>
          <a href="#">
            <img
              src="https://getir.com/_next/static/images/huawei-appgallery-tr-4b890fa3167bc62f9069edaf45aa7f30.svg"
              class="icon"
            />
          </a>
        </div>
      </div>
      <div class="right-side">
        <img
          class="right-side-image"
          src="https://cdn.getir.com/getirweb-images/common/landing/phoneLanding.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
