nav {
  background-color: var(--brand-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

  .container {
    max-width: 1232px;
    margin: 0 auto;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .items {
      display: flex;
      gap: 32px;
      font-size: 14px;

      .item {
        color: rgba(255, 255, 255, 0.8);
        font-weight: 600;
        display: flex;
        align-items: center;

        i {
          margin-right: 8px;
          font-size: 18px;
        }

        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}
