<div class="container">
  <div class="footer-menu-items">
    <div class="footer-menu-item">
      <div class="footer-menu-item-title">Getir'i indir!</div>
      <div class="footer-menu-item-list">
        <div class="footer-menu-list-item">
          <img
            src="https://getir.com/_next/static/images/appstore-tr-141ed939fceebdcee96af608fa293b31.svg"
          />
        </div>
        <div class="footer-menu-list-item">
          <img
            src="https://getir.com/_next/static/images/googleplay-tr-6b0c941b7d1a65d781fb4b644498be75.svg"
          />
        </div>
        <div class="footer-menu-list-item">
          <img
            src="https://getir.com/_next/static/images/huawei-appgallery-tr-4b890fa3167bc62f9069edaf45aa7f30.svg"
          />
        </div>
      </div>
    </div>
    <div class="footer-menu-item">
      <div class="footer-menu-item-title">Getir'i keşfet</div>
      <div class="footer-menu-item-list">
        <span class="footer-menu-list-item"> Hakkımızda </span>
        <span class="footer-menu-list-item"> Kariyer </span>
        <span class="footer-menu-list-item"> Teknoloji Kariyerleri </span>
        <span class="footer-menu-list-item"> İletişim </span>
        <span class="footer-menu-list-item"> Sosyal Sorumluluk Projeleri </span>
        <span class="footer-menu-list-item"> Basın Bültenleri </span>
      </div>
    </div>
    <div class="footer-menu-item">
      <div class="footer-menu-item-title">Getir'i keşfet</div>
      <div class="footer-menu-item-list">
        <span class="footer-menu-list-item"> Hakkımızda </span>
        <span class="footer-menu-list-item"> Kariyer </span>
        <span class="footer-menu-list-item"> Teknoloji Kariyerleri </span>
        <span class="footer-menu-list-item"> İletişim </span>
        <span class="footer-menu-list-item"> Sosyal Sorumluluk Projeleri </span>
        <span class="footer-menu-list-item"> Basın Bültenleri </span>
      </div>
    </div>
    <div class="footer-menu-item">
      <div class="footer-menu-item-title">Getir'i keşfet</div>
      <div class="footer-menu-item-list">
        <span class="footer-menu-list-item"> Hakkımızda </span>
        <span class="footer-menu-list-item"> Kariyer </span>
        <span class="footer-menu-list-item"> Teknoloji Kariyerleri </span>
        <span class="footer-menu-list-item"> İletişim </span>
        <span class="footer-menu-list-item"> Sosyal Sorumluluk Projeleri </span>
        <span class="footer-menu-list-item"> Basın Bültenleri </span>
      </div>
    </div>
    <div class="footer-menu-item">
      <div class="qrcode">
        <a href="#">
          <img src="https://cdn.getir.com/getirweb-images/common/etbis.png" />
        </a>
      </div>
    </div>
  </div>
</div>
