.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 16px 0;

  .categories-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .category-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 16px;

    .category-list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px 0;

      &:hover {
        background-color: rgb(250 245 255);
        transition: background-color 0.3s;
      }

      &:hover span {
        color: var(--primary-brand-color);
      }

      img {
        width: 48px;
        height: 48px;
        border: 1px solid rgb(229 231 235);
      }

      span {
        margin-top: 12px;
        font-size: 15px;
        width: 100%;
        text-align: center;
        letter-spacing: -0.75px;
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 1023px) {
  .container {
    .category-list {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media (max-width: 767px) {
  .container {
    .category-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (max-width: 400px) {
  .container {
    .category-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
