<div class="container">
  <div class="left-side">
    <span class="copy">© 2024 Getir</span>
    <span class="point"></span>
    <span class="text">Bilgi Toplumu Hizmetleri</span>
  </div>
  <div class="right-side">
    <div class="social-icons">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="language">
      <i class="fa-solid fa-globe"></i>
      Türkçe (TR)
    </div>
  </div>
</div>
