* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.carousel-control-next,
.carousel-control-prev {
  pointer-events: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}
