<div class="cards">
  <div class="container">
    <div class="card">
      <img
        src="https://getir.com/_next/static/images/intro-in-minutes-a7a9238a73013642a6597c4db06653c1.svg"
        class="card-image"
      />
      <h5 class="card-title">Her siparişine bir kampanya</h5>
      <div class="card-desc">
        Getir’de vereceğin her siparişe uygun bir kampanya bulabilirsin.
      </div>
    </div>
    <div class="card">
      <img
        src="https://getir.com/_next/static/images/intro-market-courier-34cd8b0ca1d547580d506566edfacf8d.svg"
        class="card-image"
      />
      <h5 class="card-title">Her siparişine bir kampanya</h5>
      <div class="card-desc">
        Getir’de vereceğin her siparişe uygun bir kampanya bulabilirsin.
      </div>
    </div>
    <div class="card">
      <img
        src="https://getir.com/_next/static/images/intro-discount-6248544cb695830a2e25debd3c0f3d29.svg"
        class="card-image"
      />
      <h5 class="card-title">Her siparişine bir kampanya</h5>
      <div class="card-desc">
        Getir’de vereceğin her siparişe uygun bir kampanya bulabilirsin.
      </div>
    </div>
  </div>
</div>
