<div class="hero-container">
  <div class="carousel-container">
    <video src="{{ activeVideo }}" autoplay class="sliderImage"></video>
  </div>
  <div class="container">
    <div class="right-side">
      <h4 class="title">Adresine getiren restoranları gör</h4>
      <div class="location" (click)="openModal(locationModal)">
        <div class="location-input-box">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            class="location-input"
            placeholder="Sokağını veya posta kodunu arat"
          />
        </div>
        <div class="find-location">
          <i class="fa-solid fa-location-crosshairs"></i>
          <span>Konumunu bul</span>
        </div>
      </div>
      <div class="or">
        <span>veya</span>
      </div>
      <h4 class="title">Giriş yap veya kayıt ol</h4>
      <div class="phone-number">
        <div class="country-container" (click)="isModalOpen = !isModalOpen">
          <img
            src="../../../assets/{{ activeCountry.code }}.png"
            class="country-image"
          />
          <span>{{ activeCountry.phone }}</span>
          <span class="icon" [ngClass]="{ active: isModalOpen }"><</span>
          <ul class="countries" *ngIf="isModalOpen">
            @for (country of countries; track $index) { @if(country !=
            activeCountry){
            <li class="country" (click)="changeActiveCountry(country)">
              <img
                src="../../../assets/{{ country.code }}.png"
                class="country-image"
              />
              <span>{{ country.code }}</span>
            </li>
            } }
          </ul>
        </div>
        <div class="number">
          <span class="numberText" [ngClass]="{ active: isFocused }"
            >Telefon Numarası</span
          >
          <input
            class="numberInput"
            (focus)="onInputFocus()"
            (blur)="onInputBlur()"
            maxlength="10"
          />
        </div>
      </div>
      <button class="continueWithPhone">Telefon numarası ile devam et</button>
    </div>
  </div>
</div>

<ng-template #locationModal>
  <div class="modal-header locationModal">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">This is a modal.</div>
</ng-template>
